@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
  position: relative;
}
iframe::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 60px;
  background: black;
}
